#RewriteEngine on
#php_value auto_prepend_file "/home/bitrix/ext_www/aeropresent.ru/protect743/code/include.php"
#RewriteRule ^(.*)index\.php$ $1 [R=301,L]
#Options -Indexes
#ErrorDocument 404 /404.php

<IfModule mod_php.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_php7.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
			RewriteCond %{REQUEST_URI} ^/blog/100-keshbek-za-zakaz/$
RewriteRule .* /404.php [L]
	# ASPRO_ROBOTS Serve robots.txt with robots.php only if the latter exists
	RewriteCond %{REQUEST_FILENAME} robots.txt
	RewriteCond %{DOCUMENT_ROOT}/robots.php -f
	RewriteRule ^(.*)$ /robots.php [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/svg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/javascript "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"
</IfModule>

RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} \s/+(.*?)/{2,}([^\s]*)
RewriteRule ^ %1/%2 [R=302,L,NE]
RewriteRule (.+)/$/ /$1/ [L,R=301]

Redirect 301 /shariki-s-geliem/rasprodazha/s-dnem-rozhdenija-piraty https://aeropresent.ru/shariki-s-geliem/s-dnem-rozhdenija-piraty
Redirect 301 /shariki-s-geliem/shariki-s-oskorblenijami/lyublyu-do-samoj␦ https://aeropresent.ru/shariki-s-geliem/shariki-s-oskorblenijami/lyublyu-do-samoj
Redirect 301 /shariki-s-geliem/shariki-s-oskorblenijami/␦ https://aeropresent.ru/shariki-s-geliem/shariki-s-oskorblenijami/lyublyu-do-samoj
Redirect 301 /sitemap/ https://aeropresent.ru/karta-sajta/
# Редирект страниц /blog/100cashback и /blog/100cashback/
Redirect 301 /blog/100cashback /blog/
Redirect 301 /blog/100cashback/ /blog/
